<div id="<%= dom_id earning %>">
  <p>
    <strong>Title:</strong>
    <%= earning.title %>
  </p>

  <% if earning.description.present? %>
    <p>
      <strong>Description:</strong>
      <%= earning.description %>
    </p>
  <% end %>

  <p>
    <strong>Amount:</strong>
    <%= earning.amount %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= earning.category %>
  </p>

</div>
