<%= form_with(model:[@user, @event, earning]) do |form| %>
  <% if earning.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(earning.errors.count, "error") %> prohibited this earning from being saved:</h2>

      <ul>
        <% earning.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.select :category, options: Earning::CATEGORIES %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
