<%= form_with(model:[@user, @event, earning]) do |form| %>
  <% if earning.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(earning.errors.count, "error") %> prohibited this earning from being saved:</h2>

      <ul>
        <% earning.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-details">
    <div class="input-box">
      <span class="details">
        <%= form.label :title %>
      </span>
      <%= form.text_field :title %>
    </div>

    <div class="input-box">
      <span class="details">
      <%= form.label :description, style: "display: block" %>
      </span>
      <%= form.text_field :description %>
    </div>

    <div class="input-box">
      <span class="details">
      <%= form.label :amount, style: "display: block" %>
      </span>
      <%= form.text_field :amount %>
    </div>

    <div class="input-box">
      <span class="details">
      <%= form.label :category, style: "display: block" %>
      </span>
      <%= form.select :category, options: Earning::CATEGORIES %>
    </div>

  </div>

  <div class="button">
    <%= form.submit %>
  </div>
<% end %>





