<div class="container-xl">

  <% if !user_signed_in? %>
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete } %>
  <% end %>
 
  <% if user_signed_in? %>
  <div class="row">
  <div class="col-3">
    Current monthly total: <%= current_total_month %>
    <%= button_to "Add Shift", new_user_event_path(user_id: current_user.id), params: { is_work: true}, method: :get %>

    <%= button_to "Add Event", new_user_event_path(user_id: current_user.id), method: :get %>
  </div>
  <div class="col-9">
    <%= month_calendar(events: @events) do |date, events| %>
      <div class="calendar-day">
        <div class="day text-center">
          <%= date.day %>
        </div>
        <% events.each do |event| %>
          <div class="card-header">
            <div class="card-title">
              <%= link_to event.title, user_event_path(user_id: current_user.id, id: event.id) %>
            </div>
          </div>
        <% end %>
      </div>  
  <% end %>
  </div>
  </div>

  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>You have past shifts that need updating.</p>
       <select id="eventsDropDown"></select>
      <button id="updateBtn">Update</button>
      <button id="dismissBtn">Dismiss</button>
      <button id="dismissAllBtn">Dismiss All</button>
    </div>
  </div>

 <% end %>
</div>

<script type="importmap" data-turbo-track="reload">
{
"imports": {
  "updateEventModal": "/updateEventModal.js"
}}
</script>

<script type="text/javascript">

</script>

<script type="module">
  import {updateModal} from "updateEventModal";

  updateModal(<%= @events_need_updating&.html_safe %>);
</script>