<div class="container-xxl">

  <% if user_signed_in? %>
  <div class="row text-center">
  <div class="col-3">
    <h5>Current monthly total: <b><%= current_total_month %></b></h5>
    <%= button_to "Add Shift", new_user_event_path(user_id: current_user.id), params: { is_work: true}, method: :get, class: "home-left-button" %>

    <%= button_to "Add Event", new_user_event_path(user_id: current_user.id), method: :get, class: "home-left-button" %>
  </div>
  <div class="col-9">
    <%= month_calendar(events: @events) do |date, events| %>
      <div class="calendar-day" ondblclick="onCalDblClick(<%= date %>);">
        <div class="day text-center">
          <%= date.day %>
        </div>
        <% events.each do |event| %>
          <div class="card-header">
            <div class="card-title">
              
              <%= link_to "#{event.start_time.strftime('%l:%M %p')} <b>#{event.title}<b>".html_safe, user_event_path(user_id: current_user.id, id: event.id) %>
            </div>
          </div>
        <% end %>
      </div>  
  <% end %>
  </div>
  </div>

  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>You have past shifts that need updating.</p>
       <select id="eventsDropDown"></select>
      <div class="modal-buttons">
        <button id="updateBtn">Update</button>
        <button id="dismissBtn">Dismiss</button>
        <button id="dismissAllBtn">Dismiss All</button>
      </div>
    </div>
  </div>

 <% end %>
</div>

<script type="importmap" data-turbo-track="reload">
{
"imports": {
  "updateEventModal": "/updateEventModal.js"
}}
</script>

<script type="text/javascript">
          function onCalDblClick(date){
            console.log(date)
          }
</script>

<script type="module">
  import {updateModal} from "updateEventModal";

  updateModal(<%= @events_need_updating&.html_safe %>);
</script>