<div id="<%= dom_id event %>">
  <h2 class="event-title">
    <%= event.title %>
  </h2>

  <% if event.description.present? %>
  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>
  <% end %>
  <% if event.location.present? %>
    <p>
      <strong>Location:</strong>
      <%= event.location %>
    </p>
  <% end %>
  <p>
    <strong>Start time:</strong>
    <%=  event.start_time.strftime('%B %e, %Y %l:%M %p') %>
  </p>

  <% if event.end_time %>
    <p>
      <strong>End time:</strong>
      <%= event.end_time %>
    </p>
  <% end %>

  <p>
    <strong>Is this a work shift?:</strong>
    <% if event.is_work %>
      Yes
    <% else %>
      No
    <% end %>

  </p>
</div>
