<div class="container">
  <div class="row">
    <div class="col-lg-7 col-sm-12 d-flex flex-column">

      <div class="event">
        <%= render @event %>
  
        <%= link_to "Edit this event", edit_user_event_path(@user, @event) %>

        <%= button_to "Delete event", user_event_path(@user, @event), method: :delete %>
      </div>
    </div>


    <div class="col-lg-5 col-sm-12" >
      <div class="container earnings-expenses">
        <div class="row">
          <div class="col-6 earnings">
            <h4>Earnings</h4>
            <div class="earnings-list">
              <% last = @event&.earnings&.last %>
              <% @event.earnings.each do |earning| %>
                <div class="little-earning-expense">
                
                  <%= link_to edit_user_event_earning_path(@user, @event, earning) do %>
                    <%= render earning %>
                  <% end %>
                </div>
                <% if (earning != last) %>
                  <div style="margin-bottom:16px;"></div>
                <% end %>
              <% end %>
            </div>

            <div>
              <%= link_to "Add Earning", new_user_event_earning_path(@user, @event) %>
            </div>
          </div>
            
          <div class="col-6 expenses">
            <h4>Expenses</h4>
                <div class="expenses-list">
            <% @event.expenses.each do |expense| %>
              <div class="little-earning-expense">
                <%= link_to edit_user_event_expense_path(@user,@event,expense)  do %>
                  <%= render expense %>
                <% end %>
              
              </div>
              <% if (expense != last) %>
                  <div style="margin-bottom:16px;"></div>
                <% end %>
        
            <% end %>
              </div>
          
            <div>
              <%= link_to "Add Expense", new_user_event_expense_path(@user, @event) %>
            </div>
          </div>
        </div>
        <div class="row net-earnings">
          <div class="col-12">
            Net earnings: <%= @event.earnings.sum(:amount) - @event.expenses.sum(:amount) %>
          </div>
        </div>
      </div>
    </div>
  

  </div>
</div>
