<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Edit this event", edit_user_event_path(@user, @event) %>

  <%= button_to "Destroy this event", user_event_path(@user, @event), method: :delete %>
</div>

<div>
    <%= link_to "Add Earning", new_user_event_earning_path(@user, @event) %> |
    <%= link_to "Add Expense", new_user_event_expense_path(@user, @event) %>
</div>