<div id="<%= dom_id expense %>">
  <p>
    <strong>Title:</strong>
    <%= expense.title %>
  </p>

  <% if expense.description.present? %>
    <p>
      <strong>Description:</strong>
      <%= expense.description %>
    </p>
  <% end %>

  <p>
    <strong>Amount:</strong>
    <%= expense.amount %>
  </p>

    <strong>Category:</strong>
    <%= expense.category %>
</div>
